<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <a href="/">
        <img src="static/logo.png" alt="111" title="首页logo">
    </a>
</header>
<section>
    {% block content %}{% endblock %}
</section>
<footer>
    网站备案： 111
    合作联系： QQ: 354720334 微信：houjushang
</footer>
</body>
</html>